<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MKS Vision</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>